@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

body{
    background-color: black;
    padding: 10px
}

header{
    padding: 20px 0px;
    border-bottom: 1px solid purple;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

a{
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: white;
    position: relative;
}

nav a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

.about{
    border-bottom: 1px solid purple;
    text-align: center;
}

.about h1{
    padding-top: 15px;
    color: white
}

.about p{
    padding: 10px;
    color: white
}

.projetcs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
}

.project{
    text-align: center;
    border: 1px solid purple;
    margin: 10px
}

.img-project{
    width: 100%;
    padding-top: 5px
}

.project h1:hover{
    text-decoration: underline;
}

.description{
    max-width: 700px;
}

a{
    display: inline-block;
}

i{
    padding: 15px;
    font-size: 25px;
}

.fa-js{
    color: yellow
}

.fa-css3-alt{
    color: blue
}

.fa-html5{
    color: orange
}

.fa-code{
    color: white;
    cursor: pointer;
}

footer{
    border-top: 1px solid purple;
}

footer p{
    padding: 15px;
    text-align: center;
    color: white
}

@media (max-width: 660px){
    .projetcs{
        display: block;
        margin: 10px
    }
}